body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #E2E1FC;
  color: #CB94F7;
}
#foodquestion {
  font-size: 50px;
  margin-bottom: 30px;
}
.food-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #CB94F7;
}
.food-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #CB94F7;
  object-fit: cover;
  padding: 10px;
}
.food-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #CB94F7;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #CB94F7;
  color: #ffe3e1;
  border: 2px solid #CB94F7;
  box-shadow: 1px 1px 2px #CB94F7;
}