body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #E2E1FC;
  color: #CB94F7;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #CB94F7;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #CB94F7;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #CB94F7;
  color: #ffe3e1;
  border: 2px solid #CB94F7;
  box-shadow: 1px 1px 2px #E2E1FC;
}
